
<ion-content padding>

  <ion-list lines="none">
    <ion-item button (click)="closeMenu(this.editListTypeEnum.update)">
        <ion-icon color="primary" name="pencil-outline"></ion-icon>
        <ion-label style="padding-left: 1em;">Modify</ion-label>
    </ion-item>

    <ion-item button (click)="closeMenu(this.editListTypeEnum.duplicate)">
        <ion-icon color="primary" name="duplicate"></ion-icon>
        <ion-label style="padding-left: 1em;">Duplicate</ion-label>
    </ion-item>

    <ion-item button (click)="closeMenu(this.editListTypeEnum.delete)">
        <ion-icon color="danger" name="trash"></ion-icon>
        <ion-label style="padding-left: 1em;">Delete</ion-label>
    </ion-item>

  </ion-list>

</ion-content>
