<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="itemDetailsForm" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label position="floating">Label</ion-label>
      <ion-input type="text" formControlName="label"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Quantity</ion-label>
      <ion-input type="number" formControlName="quantity" min="0" inputmode="numeric"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Unit</ion-label>
      <ion-select interface="popover" formControlName="unit" >
         <ion-select-option *ngFor="let key of unitTypeEnumKeys" value={{key}}>{{unitTypeEnum[key]}}</ion-select-option>
      </ion-select>

    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea rows="5" formControlName="description"></ion-textarea>
    </ion-item>

    <ion-grid >
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-buttons>
            <ion-button fill="solid" type="submit" [disabled]="!itemDetailsForm.valid">OK</ion-button>
            <ion-button fill="solid" type="button" (click)="onCancel()">Cancel</ion-button>
          </ion-buttons>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
