<ion-header [translucent]="true" mode=" ">
    <ion-toolbar>
        <ion-title>{{title}}</ion-title>

        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <button *ngIf="!authService.isLoggedIn" ion-button (click)="login()">
                <ion-icon  name="person-outline" slot="icon-only"></ion-icon>
            </button>
            <button *ngIf="authService.isLoggedIn" ion-button (click)="logout()">
                <ion-icon  name="log-out" slot="icon-only"></ion-icon>
            </button>
        </ion-buttons>

    </ion-toolbar>

</ion-header>

<ion-content>

        <ion-card *ngIf="editPropType != editPropTypeEnum.none">

            <ion-card-content>
                <form [formGroup]="listDetailsForm" (ngSubmit)="onSubmitPropertyList()">
                    <ion-item *ngIf="editPropType === editPropTypeEnum.create">
                        <ion-label position="floating">Type</ion-label>
                        <ion-select interface="popover" formControlName="type">
                            <ion-select-option value={{listTypeEnum.checkingList}}>checking list</ion-select-option>
                            <ion-select-option value={{listTypeEnum.shoppingList}}>shopping list</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Name</ion-label>
                        <ion-input type="text" formControlName="name" #listNameInput></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Description</ion-label>
                        <ion-textarea rows="3" formControlName="description"></ion-textarea>
                    </ion-item>

                    <ion-grid >
                        <ion-row>
                            <ion-col></ion-col>
                            <ion-col>
                                <ion-buttons>
                                    <ion-button fill="solid" type="submit" [disabled]="!listDetailsForm.valid">OK</ion-button>
                                    <ion-button fill="solid" (click)="onCancelPropertyList()" >Cancel</ion-button>
                                </ion-buttons>
                            </ion-col>
                            <ion-col></ion-col>
                        </ion-row>
                    </ion-grid>
                </form>
            </ion-card-content>
        </ion-card>


    <div *ngIf="editPropType === editPropTypeEnum.none">

            <ion-toolbar>
                <ion-buttons>
                    <button ion-button (click)="createList()">
                        <ion-icon name="add" slot="icon-only"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-toolbar>


            <ion-list>
                <ion-item-sliding *ngFor="let list of lists" text-wrap  #sld_list_item>
                    <ion-item button (click)="editList(list)">
                        <ion-icon *ngIf="list.value.type == listTypeEnum.checkingList" name="checkbox-outline"></ion-icon>
                        <ion-icon *ngIf="list.value.type == listTypeEnum.shoppingList" name="cart-outline"></ion-icon>

                        <ion-label class="ion-text-wrap">
                            <ion-text>
                                <h2>{{list.value.name}}</h2>
                            </ion-text>
                            <ion-text>
                                <h3>{{list.value.description}}</h3>
                            </ion-text>
                        </ion-label>
                    </ion-item>
                    <ion-item-options side="start">
                        <ion-button size="small" color="danger" (click)="removeList(list, sld_list_item)">
                            <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-button>
                    </ion-item-options>
                    <ion-item-options side="end">
                        <ion-button size="small" (click)="updateInfoList(list)">
                            <ion-icon slot="icon-only" name="create"></ion-icon>
                        </ion-button>
                        <ion-button size="small" (click)="duplicateList(list)">
                            <ion-icon slot="icon-only" name="duplicate"></ion-icon>
                        </ion-button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>

    </div>
<!--        <ion-card *ngIf="editPropType === editPropTypeEnum.none">-->
<!--            <ion-card-header>-->
<!--                <ion-toolbar>-->
<!--                    <ion-buttons>-->
<!--                        <button ion-button (click)="createList()">-->
<!--                            <ion-icon name="add" slot="icon-only"></ion-icon>-->
<!--                        </button>-->
<!--                    </ion-buttons>-->
<!--                </ion-toolbar>-->
<!--            </ion-card-header>-->
<!--            <ion-card-content>-->
<!--                <ion-list>-->
<!--                    <ion-item-sliding *ngFor="let list of lists" text-wrap  #sld_list_item>-->
<!--                        <ion-item button (click)="editList(list)">-->
<!--                            <ion-icon *ngIf="list.value.type == listTypeEnum.checkingList" name="checkbox-outline"></ion-icon>-->
<!--                            <ion-icon *ngIf="list.value.type == listTypeEnum.shoppingList" name="cart-outline"></ion-icon>-->

<!--                            <ion-label class="ion-text-wrap">-->
<!--                                <ion-text>-->
<!--                                    <h2>{{list.value.name}}</h2>-->
<!--                                </ion-text>-->
<!--                                <ion-text>-->
<!--                                    <h3>{{list.value.description}}</h3>-->
<!--                                </ion-text>-->
<!--                            </ion-label>-->
<!--                        </ion-item>-->
<!--                        <ion-item-options side="start">-->
<!--                            <ion-button size="small" color="danger" (click)="removeList(list, sld_list_item)">-->
<!--                                <ion-icon slot="icon-only" name="trash"></ion-icon>-->
<!--                            </ion-button>-->
<!--                        </ion-item-options>-->
<!--                        <ion-item-options side="end">-->
<!--                            <ion-button size="small" (click)="updateInfoList(list)">-->
<!--                                <ion-icon slot="icon-only" name="create"></ion-icon>-->
<!--                            </ion-button>-->
<!--                            <ion-button size="small" (click)="duplicateList(list)">-->
<!--                                <ion-icon slot="icon-only" name="duplicate"></ion-icon>-->
<!--                            </ion-button>-->
<!--                        </ion-item-options>-->
<!--                    </ion-item-sliding>-->
<!--                </ion-list>-->
<!--            </ion-card-content>-->
<!--        </ion-card>-->

</ion-content>

